<div class="wrapper">
  <header>
    <!--           u can upload any png image for background and foregound -->
    <img class="background"
      src="https://png.pngtree.com/png-clipart/20201209/original/pngtree-mountain-range-png-image_5614928.jpg" alt="">
    <!-- <img class="foregound" src="https://media.architecturaldigest.com/photos/6081919db41653acb3f3a17b/4:3/w_3796,h_2847,c_limit/matt-artz-nTRDnDdDYk8-unsplash.jpg" alt=""> -->
    <h1 class="title">Hello</h1>
  </header>
  <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur minima praesentium omnis perspiciatis
    consequuntur. Reiciendis provident id similique quis ab ullam non dolor sapiente. Quidem consequatur quisquam
    numquam necessitatibus consequuntur. Culpa nemo, ea facilis ipsa deserunt, velit perspiciatis veniam sunt rem sequi,
    quidem eveniet dolore nihil quasi excepturi repellat iste rerum quae praesentium repudiandae nulla! Blanditiis
    ratione quas dolor natus quae ad voluptate exercitationem recusandae unde, velit fugit fugiat nemo, necessitatibus
    temporibus iste numquam eos quasi quisquam asperiores ullam pariatur dolorem reiciendis? Debitis sit repellendus,
    tempora dolorum tempore repellat qui assumenda omnis eius laborum dignissimos id officia incidunt doloribus ratione
    numquam, facere quisquam ab corrupti aut. Facere libero nobis modi incidunt fuga unde non tempore laboriosam sed
    aperiam blanditiis voluptate alias ducimus consequuntur quidem molestias dignissimos, repellendus totam porro quam,
    cupiditate consectetur laborum id animi. Quisquam facilis similique, perferendis itaque quo at eum molestias odit ex
    nisi eveniet doloribus eius tenetur laudantium blanditiis quibusdam maiores? Quos eligendi nihil incidunt autem
    mollitia natus minus esse cum consequuntur ipsum, iure amet aut perferendis consectetur optio ipsam tenetur. Quam
    quia optio consequatur sint quas nam nostrum cum beatae minima ipsa perferendis cupiditate tempore praesentium quod
    hic, ipsum sapiente, mollitia a! Esse, doloremque voluptatibus. Magnam facilis suscipit rem at sint. Sint delectus
    laborum ipsa voluptate rerum, non esse eum. Esse tempore, repellat possimus nisi quis ducimus maiores cum
    accusantium fugiat nulla necessitatibus, facere alias magni molestias animi, eum ipsa facilis consequuntur harum.
    Quasi numquam quaerat iusto sint perferendis dignissimos dolorem animi placeat nostrum alias culpa voluptatum, eaque
    qui temporibus voluptatibus tempora enim optio id excepturi sunt. Vel cum itaque a nulla cumque, molestiae
    perferendis in similique labore, laudantium qui officiis cupiditate minima inventore sit vitae at. Ducimus facilis
    qui alias sit accusamus nobis, dolorum repellat officiis eius. In architecto laborum veniam consequuntur beatae,
    alias, sed asperiores dolorem iste vel suscipit dolor earum atque ea impedit, sunt magni officia illo fugit iusto
    similique quaerat modi praesentium laboriosam! Sequi quidem odio sit dolores quia itaque, obcaecati exercitationem
    magni officiis veniam eaque cum dolore recusandae beatae deserunt repudiandae accusamus totam, placeat nesciunt?
    Nulla ratione ut esse unde, facilis necessitatibus provident! Recusandae possimus adipisci itaque inventore?
    Sapiente nostrum mollitia nulla tempora a nobis ducimus corporis ex cupiditate consectetur corrupti vero delectus
    quidem, aut at. Eaque sit sed non nisi asperiores optio ea corporis est nihil odit, dolores excepturi, reprehenderit
    libero repellat. Qui, rem? Incidunt nostrum quasi molestias similique hic, nulla neque sequi distinctio fuga
    adipisci iusto rerum pariatur deleniti? Quo consequuntur, maxime fugit laborum porro veniam. Natus, exercitationem
    dolore quae magni veritatis architecto dignissimos quam? Animi ipsam omnis magni laborum, iure, ducimus quis, a
    molestias aut ipsum possimus dicta. Vero labore quia, nihil voluptates esse itaque molestias. Repudiandae aut natus
    optio pariatur mollitia dolorem repellat, aliquid sunt qui a, nam culpa. Ut accusantium error ducimus harum, sit
    laborum ullam quas maiores odit, provident voluptatibus, et modi atque id eveniet magnam? Dolorum, sunt? Provident
    mollitia ab similique fugit ipsam! Inventore delectus distinctio earum tempore ut aliquam suscipit commodi
    sint?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quos facere deleniti eligendi! Corrupti,
    enim! Tenetur, cum accusantium molestiae quisquam ut porro cumque iure saepe inventore est expedita incidunt
    similique quibusdam consectetur perferendis et error possimus id repudiandae suscipit, ullam obcaecati explicabo.
    Mollitia accusantium placeat vero eaque necessitatibus quaerat quia iusto molestiae illo nam sed a odio ipsa
    distinctio est dolores, atque nisi quam perferendis deleniti voluptate. Soluta quas, libero provident sapiente quo
    quis accusamus, ea natus nostrum suscipit officia eum dolores laborum et! Repellat exercitationem ea quos neque
    labore eos odit rerum assumenda nostrum! Est odit doloribus animi, natus eos voluptatum cupiditate quas magnam porro
    sunt enim at labore fugit necessitatibus, cumque voluptas maiores quod harum ipsum dolores provident! Tenetur
    numquam quam reprehenderit a, aperiam veniam. Esse obcaecati ipsa ad sequi soluta molestias nostrum voluptas
    quibusdam, praesentium dolore, possimus quaerat iste, maiores nemo deserunt non unde aspernatur provident sit illo!
    Minima maiores quisquam quos minus. Vero, perferendis. Repellat quae voluptates temporibus veritatis, ex assumenda
    sint itaque. Tempore aperiam ipsa dolor soluta nesciunt dignissimos doloribus rem saepe laboriosam natus, hic ab
    doloremque deleniti. Minima odit voluptatum accusantium consequuntur necessitatibus, praesentium earum iure repellat
    recusandae. Neque dolores et quia nihil ad natus, a error rem, magnam earum excepturi reiciendis molestias nesciunt
    nostrum praesentium suscipit autem inventore laborum veniam quas quasi. Voluptatem neque facilis labore aperiam
    eligendi explicabo aliquid provident eveniet quidem, expedita maiores vero delectus libero porro magnam ex sequi,
    repellendus hic assumenda. Quisquam deleniti natus hic qui ex non, reiciendis voluptate excepturi officia possimus
    deserunt illum vel nesciunt optio eaque veritatis, enim harum amet porro voluptatum architecto dolorum quod tenetur.
    Omnis, eligendi labore! Quas a hic itaque. Quasi soluta ad voluptatum nobis adipisci magni dolore voluptate itaque
    earum quis inventore reprehenderit amet consectetur dolorem dolorum quam, voluptatem corrupti vero pariatur quaerat
    ratione? Officia nam totam inventore sit magnam labore blanditiis reprehenderit repellat commodi possimus expedita
    ut, explicabo minima, suscipit dicta a optio maxime voluptas facilis quae. Porro, unde ex eius culpa consequuntur
    possimus corrupti. Accusamus perspiciatis molestias saepe quas. Debitis distinctio sunt porro quas quasi, qui fugit
    sit, magni tempore dolore dicta vero excepturi modi quos, ratione voluptate quaerat provident. Minus deserunt
    officia quam fugit dolor! Tenetur fugiat libero cum consequuntur a, impedit ad possimus odio eveniet? Ipsum dicta
    corrupti unde rerum tempora harum voluptatibus deserunt officia totam eos quibusdam in earum consequatur autem
    exercitationem reiciendis vitae, voluptatum odio maiores iusto aut numquam architecto. Labore nesciunt repudiandae
    non facilis unde aspernatur?</section>
</div>